*{
    
   
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.flex
{
    
    display: flex;
    flex-direction: column;
    
}
.flex2
{
    display: flex;
    
}
.flex-child
{
    flex: 1;
    
}
.bg
{   
  
    object-fit: fill;
   
    background-image: url(img/bg.png);
    
}
.bg-white
{
    background-color: white;
}
#img1
{
   float: right;
   height: 50vh;
   width: auto;
   align-items: center;
   
   padding: 20px 20px;  
   
}


.nav{
    width: 100%;
    border-bottom: 0.8px solid white;
    background-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
   padding: 15px 0px;
   margin-bottom: 20px;
   top: 1px;
  

}
#one{
    color: white;
    margin: 20px;
    text-decoration:none;
/*To remove underline from anchor link use text-decoration to none*/
}
#one:hover{
    color: #000;
    background-color: white;
    
    padding: 10px;
}
.nav:hover{
    background-image: url(img/bg.png);
   font-weight: 900;
    object-fit: cover;
    color: black;
  
}
.text1
{
    text-align: center;
    padding-top: 9%;
    margin-left: 10%;
    font-size: 30px;   
}
.text-align
{
    text-align: center;
}
.btn
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0.5rem;
    padding: 9px;
    border-radius: 0.9rem;
    border: none;
    background-color: white;
    border: 1px solid rgb(239,53,160);
    color:  rgb(239,53,160);
   transition: 500ms;
}
.btn:hover
{
    color: white;
    
    
    background: rgb(239,53,160);
    background: linear-gradient(90deg, rgba(239,53,160,1) 0%, rgba(255,0,117,1) 51%, rgba(220,62,140,1) 90%);
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: auto;
    margin: auto;
    text-align: center;
    font-family: arial;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   border-bottom-right-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   border: 1px solid rgb(73, 72, 72);
  }
  .card h3{
    margin-top: 0.5rem;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    transition: 500ms;
    border-radius: 0.5rem;
  }
  .card button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .cardimg
  {
    object-fit: contain;
    width: 100%;
    
  }
.heading
{
    text-align: center;
    margin: 1rem; 
    text-decoration: underline;
}
.card2
{   width: auto;
    margin: 1rem auto;
    padding: 20px 10px;
     text-align: center;
    font-family: arial;
     border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   border: 1px solid rgb(0, 0, 0);
   color: black;
   background-image: linear-gradient(to top, #ffffff, #fff2fd, #ffe3eb, #ffd7c9, #ffd4a4, #ffd4a4, #ffd4a4, #ffd4a4, #ffd7c9, #ffe3eb, #fff2fd, #ffffff);

}
.timesnr
{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    line-height: 40px;
}

.fa-facebook
{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2rem;
}
.fa-instagram
{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2rem;

}
.fa-twitter
{
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2rem;

}
.fa-youtube{

    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2rem;
}
