*{
    padding: 0;
    margin: 0;
  }
 html
 {
  margin: 0;
  height: auto;
 }
 body{
   
   background-image: url(img/unnamed.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
}
nav .active
{
  background-color: #093f2e;
  color: white;
}
ul 
{
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
li
{
    float: left;
}
li
{
    float: left;
}
li a
{
    display: block;
   color: white;
   color: #0d5740;
   font-weight: bolder;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover 
{
    color: white;
   
    background-color: #0d5740;
    transition: 500ms;
    
   
}
.container
{
    background: white;
    margin: 20px 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.flex
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.flex-child
{
    
    align-items: center;
    height: 75px;
    width: auto;
    
}
#one
{
   flex-grow: 3;
   width: 40%;
   text-align: center;
   border-top: 1.5px solid #ededed;
   border-left: 1px solid #ededed;
   color: white;
   order: 5;
   margin: 1rem;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  
}
  
.hover
{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        background: rgb(13,87,64);
        background: linear-gradient(270deg, rgba(13,87,64,1) 14%, rgba(97,187,113,1) 90%);
     
}
.hover :hover
{
        
       background-color:#56a965 ;
        transition: smooth;

}

.container h4
{
     margin: 0.5rem 1rem;
     font-size: 20px;
     font-weight: 200;
     font-family: 'Times New Roman', Times, serif;
}
 .container h1{
    margin: 0rem 1rem;
    line-height: 120%;
   font-size: 35px;
    color: #093f2e;
    border-bottom: 2px solid #093f2e;
  }
  #skills
  {
    margin: 0rem 1rem;
    line-height: 120%;
   font-size: 30px;
    color: #093f2e;
    border-bottom: 2px solid #093f2e;

  }
  .sp
  {
    font-size: 150%;
    font-weight: bold;
    margin:auto;
    border-bottom: 2px solid #fcfcfc;
    
    
  }
  .des
  {
    
    font-size: 120%;
    height: auto;
    line-height: 200%;
    margin: auto;
  }
  .skills h2{
    font-weight: 400;
    letter-spacing: 1px;
text-align: center;
    color: #093f2e;
    font-size: 16px;
  }
  .pop{
    margin: 0px auto;
  }
  .progress-bar
  {
    background: #959595;
    margin: 10px 0;
    width: 50vw;
    
    height: 15px;
    border-radius: 5px;
  }
  .progress-bar div 
  {
    height: 15px;
    border-radius: 5px;
    
    background:#117153;
  }
  #html
  {
    width: 90%;
  }
  #bootstrap
  {
    width: 80%;
    background: #0d5740;
  }
  #java
  {
    width: 85%;
  }
  #sql
  {
    width: 55%;
    background: #0d5740;
  }

  @media screen and (max-width: 646px) {
    .des {
      font-size: 2.8vw;
    }

  }
  @media screen and (max-width: 488px) {
    .des {
      font-size: 2vw;
    }
  }
  @media screen and (max-width: 406px) {
    .des {
      font-size: 4.5vw;
    }
    
  }
  @media screen and (max-width: 333px) {
   ul
   {
    padding: auto;
   }
   li a 
   {
       font-size: 13px;
       padding: 7px ;
   }
    
  }