*
{
    padding: 0;
    margin: 0;
}
body
{
   
    background-image: url(img/unnamed.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
nav .active
{
  background-color: #093f2e;
  color: white;
}
ul 
{
    list-style-type: none;
    background-color: white;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
li 
{
    float: left;
}

li a 
{
    display: block;
   color: white;
   color: #0d5740;
   font-weight: bolder;
    text-align: center;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover
{
    color: white;
   
    background-color: #0d5740;
    transition: 500ms;
}
.container
{
    justify-content: center;
}
.main
{
    background: white;
    margin: 20px 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.flex
{
    display: flex;
}
.flex-child
{
    flex-direction: column;
}
#projects
  {
    margin: 0rem 1rem;
    line-height: 120%;
    padding-bottom: 2px;
   font-size: 30px;
    color: #093f2e;
    border-bottom: 2px solid #093f2e;

  }
  .container h4
  {
    margin: 0 1rem;
    font-size: 26.5px;
    text-decoration: underline;
    font-weight: 900;
  }
  .container p
  {
    margin: 0 1rem;
    font-size: 17px;
  }
#icon
{
    color: #ffffff;
    background-color: #1c8564;
    margin-left: 1rem;
    font-size: 22px;
    padding: 9px;
    margin-right: 1%;
    border-radius: 1.5rem;
    transition: 200ms;
}
#icon:hover
{
    color: #1c8564;
    background-color: white;
    border: 2px solid #1c8564;

}
.card
{
    margin: 1rem 0;
    width: 80vw;
    padding: 27px 0;
    border: 1px solid #16664d;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    

}
@media screen and (max-width:333px) {

    li a 
    {
        display: flex;
        font-size: 13px;
        padding: 7px;
    }
    
}
